- var classs = 'blog'
if page== 'blog'
    - var classs= ''
else
    - var classs= 'b-main_portfolio'

include common/loader



.b-content-head.b-content-head_bgmain.b-content-head_nohome
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    header.i-clear.b-header.b-header_text-right.i-abs-top
        ul.b-icongrup.i-float_left
            li.b-icongrup__item
                a.b-icongrup__icon.b-icongrup__icon_opaciy(href="http://vk.com/evd1ser" target="_blank")
                    i.fa.fa-vk(aria-hidden="true")
                    span.sr-only vkontakte
            li.b-icongrup__item
                a.b-icongrup__icon.b-icongrup__icon_opaciy(href="https://github.com/evd1ser" target="_blank")
                    i.fa.fa-github-alt(aria-hidden="true")
                    span.sr-only github
            li.b-icongrup__item
                a.b-icongrup__icon.b-icongrup__icon_opaciy(href="https://www.linkedin.com/in/evd1ser" target="_blank")
                    i.fa.fa-linkedin(aria-hidden="true")
                    span.sr-only linkedin
        a#menubtn.b-header__menu-btn.js-menu(href="#menu")
            svg.svg-menu(width="5rem" viewBox="0 0 100 100")

                path#pathA.svg-menu__path.svg-menu__path_1(d="M 30 40 L 70 40 C 90 40 90 80 60 85 A 40 40 0 0 1 20 20 L 80 80")
                path#pathB.svg-menu__path.svg-menu__path_2(d="M 30 50 L 70 50")
                path#pathC.svg-menu__path.svg-menu__path_3(d="M 70 60 L 30 60 C 10 60 10 20 40 15 A 40 40 0 1 1 20 80 L 80 20")


    .b-main(class="#{classs}")
        .center_flex
            .b-portfolio.b-portfolio_tema_forest.b-portfolio_no-bg
                .b-imgcover
                    img.b-imgcover__avatar(src="/assets/img/avatar.png" alt="Евдокимов Сергей")
                case page
                    when 'blog'
                        h2.b-title-h2.b-title-h2_blog.i-upper.i-under Блог
                        .b-blog_stitle Статьи, которые я написал
                    default
                        h1.b-portfolio__name Евдокимов Сергей
                        span.b-portfolio__litteltext Личный сайт веб разработчика
        .b-bottom
            a.b-bottom__link.js-scrollto(href="#scrolltobtn")
                i.fa.fa-chevron-down(aria-hidden="true")
                span.sr-only Смотри ниже ;)

-var classesnav= 'b-nav b-nav_main', idnav= 'menu'
include common/menu

#scrolltobtn