footer.b-footer.b-footer_nohome
    .b-footer__big.i-clear
        .b-footer_nohome__col1.b-footer__col.col-pc-4.col-t-6.col-p-12.b-footer__text
            | Этот сайт я сделал в рамках обучения
            | в Школе онлайн образования LoftSchool.
        .b-footer__col.col-pc-4.col-t-6.col-p-12.b-footer_nohome__centerb
            -var classesnav= 'b-nav b-nav_footer', idnav= 'menu_footer'
            include common/menu
            ul.b-icongrup.b-icongrup_maringtb.b-footer_nohome__icon
                li.b-icongrup__item
                    a.b-icongrup__icon.b-icongrup__icon_opaciy(href="http://vk.com/evd1ser" target="_blank")
                        i.fa.fa-vk(aria-hidden="true")
                            span.sr-only vkontakte
                li.b-icongrup__item
                    a.b-icongrup__icon.b-icongrup__icon_opaciy(href="https://github.com/evd1ser" target="_blank")
                        i.fa.fa-github-alt(aria-hidden="true")
                            span.sr-only github
                li.b-icongrup__item
                    a.b-icongrup__icon.b-icongrup__icon_opaciy(href="https://www.linkedin.com/in/evd1ser" target="_blank")
                        i.fa.fa-linkedin(aria-hidden="true")
                            span.sr-only linkedin
        .b-footer__text.b-footer__col.col-pc-4.col-p-12
            .b-footer__blockquote
                .b-footer__bqtext Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                span.b-footer__who — Martin Golding
    .b-footer__small
        span.b-footer_line © Евдокимов Сергей
        span Создано с любовью в LoftSchool | 2016