doctype html
html(lang="ru-RU")
    head
        meta(charset='utf-8')
        title Админпанель
        meta(content='Evdokimov Sergey' name='author')
        meta(content='Мой личный сайт' name='description')
        meta(content='site, evd1ser, программист, разработчик, дизайнер' name='keywords')
        meta(content='width=device-width, initial-scale=1' name='viewport')
        meta(content='ie=edge' http-equiv='x-ua-compatible')
        //- favicon block start
        link(rel="icon" href="/assets/img/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon")
        //- favicon block end
        script(src='https://code.jquery.com/jquery-1.12.4.min.js' integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=' crossorigin='anonymous')
        //- script(src='/assets/js/foundation.js' defer)
        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/admin.css')
        script(src='/assets/js/admin.js' defer)
        script(src="//cdn.tinymce.com/4/tinymce.min.js" defer)
        script.
            $(document).ready(function () {
                tinymce.init({ selector:'textarea' });
            });

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body.b-body
        header.b-header
            h1.b-header__title Панель администрирования
        main.b-main
            section.tabcontrol
                ul.tabcontrol__list
                    li.tabcontrol__item
                        a.js-tab.tabcontrol__link.tabcontrol__link_activ(href="#about") «Обо мне»
                    li.tabcontrol__item
                        a.js-tab.tabcontrol__link(href="#blog") «Блог»
                    li.tabcontrol__item
                        a.js-tab.tabcontrol__link(href="#work") «Мои работы»
            .tadcontainer
                section#about.tab.tab_activ
                    h2.tab__title Страница «Обо мне»
                    .b-input
                        h3.b-input__title Frontend
                        ul.b-skill
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Html
                                input#skill_html.b-input__input.b-skill__input(value="100")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title СSS
                                input#skill_css.b-input__input.b-skill__input(value="90")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title JavaScript
                                input#skill_js.b-input__input.b-skill__input(value="80")
                    .b-input.b-skill
                        h3.b-input__title Backend
                        ul.b-skill
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title PHP
                                input#skill_php.b-input__input.b-skill__input(value="80")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title mySQL
                                input#skill_mySQL.b-input__input.b-skill__input(value="80")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Node.js
                                input#skill_Node.b-input__input.b-skill__input(value="30")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Mongo.db
                                input#skill_Mong.b-input__input.b-skill__input(value="40")
                    .b-input.b-skill
                        h3.b-input__title Workflow
                        ul.b-skill
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Git
                                input#skill_Git.b-input__input.b-skill__input(value="80")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Gulp
                                input#skill_Gulp.b-input__input.b-skill__input(value="90")
                            li.b-skill__item.b-input__line
                                .b-skill__title.b-input__title Bower
                                input#skill_Bower.b-input__input.b-skill__input(value="80")
                    .tab__save
                        a#skilladd.b-btnsave(href="#") Сохранить
                section#blog.tab
                    h2.tab__title Страница «Блог»
                    .b-input.blognew
                        .b-input__title Добавить запись
                        .b-input__line
                            input#blogtitle.b-input__input.blognew__input(placeholder="Название")
                        .b-input__line
                            input#blogdate.b-input__input.blognew__input(type="date")
                        .b-input__line
                            textarea#blogtext.blognew__input.b-input__input(placeholder="Содержимое")
                        a#blogadd.b-btnsave Добавить


                    section#post1.blog
                        header.blog__header
                            h2.blog__title
                                a.blog__mainlink(href="#") Как сделать резиновый треугольник в svg
                            time.blog__time(datetime="2016-06-19T13:13:19") 19 июня 2016
                        .blog__text
                            p Прежде всего необходимо задать <code>viewBox = "0 0 100 100"</code> позле задаём: preserveAspectRatio="none", дабы пропорции при растягивании не соблюдались
                            p После рисуем два контура которые будут нашими правым и левым уголком.
                            p Заливку и оформление делаем по средствам css, таким не хитным способом можно сделать красивые резиновые треугольники для шапки этого сайта =)
                            pre(class='brush: js;').
                                &lt;svg viewBox="0 0 100 100" preserveAspectRatio="none" class="i-topskat">
                                     &lt;g>
                                        &lt;polygon points="50,100 100,0 100,100" class="i-topskat__item i-topskat__item_right">&lt;/polygon>
                                    &lt;/g>
                                    &lt;g>
                                        &lt;polygon points="0,0 0,100 50,100" class="i-topskat__item i-topskat__item_left">&lt;/polygon>
                                    &lt;/g>
                                &lt;/svg>
                section#work.tab
                    h2.tab__title Страница «Мои работы»
                    .b-input
                        .b-input__title Добавить работу
                        .b-input__line
                            input.b-input__input#worktitleadd(placeholder="Название проекта")
                        .b-input__line
                            input.b-input__input#worktechnologiesadd(placeholder="Технологии")
                        .b-input__line
                            input.b-input__input#workurladd(placeholder="Ссылка")
                        label
                            input#workfile(type="file" name="file")
                            span Выберите файл
                        a#workload.b-btnsave Добавить
