- var title= 'Мой Личный сайт'
doctype html
html
  include common/_head
  body
   .b-content-head.b-content-head_bgmain
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    header.b-header.b-header_text-right.b-header_xs_text-center
        a#login.b-header__login-btn(href="#login")Авторизоваться
    main.b-main
        .center_flex
            .b-portfolio.b-portfolio_tema_forest.b-portfolio_delay.b-portfolio_type_close
                .b-imgcover
                    img.b-imgcover__avatar(src="/assets/img/avatar.png")
                h1.b-portfolio__name Евдокимов Сергей
                span.b-portfolio__litteltext Личный сайт веб разработчика
                ul.b-icongrup.b-icongrup_maringtb
                  li.b-icongrup__item
                    a.b-icongrup__icon(href="http://vk.com/evd1ser" target="_blank")
                        i.fa.fa-vk(aria-hidden="true")
                          span.sr-only vkontakte
                  li.b-icongrup__item
                    a.b-icongrup__icon(href="https://github.com/evd1ser" target="_blank")
                        i.fa.fa-github-alt(aria-hidden="true")
                          span.sr-only github
                  li.b-icongrup__item
                    a.b-icongrup__icon(href="https://www.linkedin.com/in/evd1ser" target="_blank")
                        i.fa.fa-linkedin(aria-hidden="true")
                          span.sr-only linkedin
                .b-menu
                    a.b-menu__link(href="/works.html") Мои работы
                    a.b-menu__link(href="#") Обо мне
                    a.b-menu__link(href="#") Блог
            .b-portfolio.b-portfolio_tema_forest.b-portfolio_position_abs.b-portfolio_type_open
                .b-portfolio__name.i-upper.i-under Авторизуйтесь
                form#loginform.b-form-a
                    .b-formgrup
                        .b-formgrup__arial
                            i.fa.fa-user.b-form-a__fa(aria-hidden="true")
                        input.b-form-a__input(type="text" placeholder="Логин")
                    .b-formgrup
                        .b-formgrup__arial
                            i.fa.fa-key.b-form-a__fa(aria-hidden="true")
                        input.b-form-a__input(type="password" placeholder="Пароль")
                    .b-formgrup
                        input#checkbox.b-portfolio__checkbox(type="checkbox")
                        label(for="checkbox") Я человеки им
                    span.b-formgrup__text
                        |Вы точно не робот?
                    .b-formgrup__radio-grup
                        input#radio.b-portfolio__radio(type="radio" name="robots")
                        label(for="radio") Да

                        input#radio2.b-portfolio__radio(type="radio" name="robots")
                        label(for="radio2") Не уверен
                .b-menu
                    a.b-menu__link(href="#") На главную
                    a.b-menu__link(href="#") Войти

    footer.b-footer
       .b-footer__small
            span.b-footer_line © Евдокимов Сергей
            span создано с любовью в LoftSchool | 2016
    include common/_scripts