- var title= 'Мой Личный сайт'
doctype html
html(lang="ru-RU")
    include common/_head
    body.i-overflow_hidden
        include common/loader

        .b-content-head.b-content-head_bgmain
            <!--[if lt IE 7]>
            <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
            <![endif]-->

            header.b-header.b-header_pad.b-header_text-right.b-header_xs_text-center
                a#login.b-header__login-btn.js-login(href="/login.html") Авторизоваться
            main.b-main
                .center_flex
                    .b-portfolio.b-portfolio_tema_forest.b-portfolio_delay.b-portfolio_type_close.b-portfolio_flipJS
                        .b-imgcover
                            img.b-imgcover__avatar(src="/assets/img/avatar.png" alt='Евдокимов Сергей')
                        h1.b-portfolio__name Евдокимов Сергей
                        span.b-portfolio__litteltext Личный сайт веб разработчика
                        ul.b-icongrup.b-icongrup_maringtb
                          li.b-icongrup__item
                            a.b-icongrup__icon(href="http://vk.com/evd1ser" target="_blank")
                                i.fa.fa-vk(aria-hidden="true")
                                  span.sr-only vkontakte
                          li.b-icongrup__item
                            a.b-icongrup__icon(href="https://github.com/evd1ser" target="_blank")
                                i.fa.fa-github-alt(aria-hidden="true")
                                  span.sr-only github
                          li.b-icongrup__item
                            a.b-icongrup__icon(href="https://www.linkedin.com/in/evd1ser" target="_blank")
                                i.fa.fa-linkedin(aria-hidden="true")
                                  span.sr-only linkedin
                        .b-menu.b-menu_homep
                            a.b-menu__link(href="/works.html") Мои работы
                            a.b-menu__link(href="/aboutme.html") Обо мне
                            a.b-menu__link(href="/blog.html") Блог
                    .b-portfolio.b-portfolio_tema_forest.b-portfolio_position_abs.b-portfolio_type_open
                        .b-portfolio__name.b-portfolio__name_big.i-upper.i-under Авторизуйтесь
                        form#flogin.b-form-a(method="post")
                            #logingrup.b-formgrup
                                .b-formgrup__arial
                                    i.fa.fa-user.b-form-a__fa(aria-hidden="true")
                                input#logininput.b-form-a__input(type="text" placeholder="Логин" required)
                            #passwordgrup.b-formgrup
                                .b-formgrup__arial
                                    i.fa.fa-key.b-form-a__fa(aria-hidden="true")
                                input#password.b-form-a__input(type="password" placeholder="Пароль" required)
                            .b-formgrup
                                input#human.b-portfolio__checkbox(type="checkbox" name="human" required)
                                label(for="human") Я человеки
                            span#robots.b-formgrup__text
                                | Вы точно не робот?
                            .b-formgrup__radio-grup
                                input#yes.b-portfolio__radio(type="radio" name="robots" required)
                                label(for="yes") Да

                                input#no.b-portfolio__radio(type="radio" name="robots")
                                label(for="no") Не уверен
                        .b-menu
                            a.b-menu__link.js-login(href="/") На главную
                            button.b-menu__link.js-submit(type="submit") Войти

            footer.b-footer
               .b-footer__small
                    span.b-footer_line © Евдокимов Сергей
                    span Создано с любовью в LoftSchool | 2016
        include common/_scripts