- var title= 'Мои работы'
- var page = 'works'
doctype html
html

  include common/_head
  body.i-overflow_hidden
    include _pageheader
    .b-content-head
        main.b-main.b-main_nopad.b-main-content.b-main_noflex

            section.i-clear.i-text-center.i-relat
                svg.i-topskat(viewBox="0 0 100 100" preserveAspectRatio="none")
                    g
                        polygon.i-topskat__item.i-topskat__item_right(points="50,100 100,0 100,100")
                    g
                        polygon.i-topskat__item.i-topskat__item_left(points="0,0 0,100 50,100")
                h2.b-title-h2.b-title-h2_works.i-upper.i-under.i-under_invers Мои Работы
                #sliderwork.i-h100
                    .b-slider.b-slider__main.col-p-12.col-hd-6.i-col_flr_moby
                        .b-slider__item.b-slider__item_big
                            .b-slider__slid.b-slider__slid_active
                                img.b-slider__img(src="/assets/img/file/site-1.png" alt="НОВОСТНОЙ САЙТ ПО АНАЛОГИИ"  data-tag='{"#p1": "photoshop 1", "#h1": "html 1", "#j1": "js 1"}' data-link="http://hardnews24.ru")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-2.png" alt="Сайт вспорте 2" data-tag='{"#p2": "photoshop 2", "#h2": "html 2", "#j2": "js 2"}' data-link="http://gonkagto.ru")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-3.png" alt="Сайт вспорте 3" data-tag='{"#p3": "photoshop 3", "#h3": "html 3", "#j3": "js 3"}' data-link="http://")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-4.png" alt="Сайт вспорте 4" data-tag='{"#p4": "photoshop 4", "#h4": "html 4", "#j4": "js 4"}' data-link="#link4")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-5.png" alt="Сайт вспорте 5" data-tag='{"#p5": "photoshop 5", "#h5": "html 5", "#j5": "js 5"}' data-link="#link5")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-6.png" alt="Сайт вспорте 6" data-tag='{"#p6": "photoshop 6", "#h6": "html 6", "#j6": "js 6"}' data-link="#link6")
                    .b-my-work.col-p-12.col-hd-6.i-clear
                        .b-my-work__item.center_flex
                            h2#title.b-my-work__title.i-upper.i-under.i-under_invers Новостной сайт по аналогии
                            .b-my-work__tag
                                ul#tag.b-tag-list
                                    li.b-tag-list__item
                                        a(href="#").b-tag-list__link HTML
                                    li.b-tag-list__item
                                        a(href="#").b-tag-list__link css
                                    li.b-tag-list__item
                                        a(href="#").b-tag-list__link JavaScript
                            .b-my-work__linkconteinet
                                a#link(href="http://hardnews24.ru").b-my-work__link Посмотреть сайт
                    .b-slider.b-slider_nav.col-p-12.col-hd-6
                        a.b-slider__item.b-slider__item_small.b-slider__next.col-p-6(href="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-1.png" alt="НОВОСТНОЙ САЙТ ПО АНАЛОГИИ"  data-tag="HTML CSS JAVASCRIPT" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-2.png" alt="Сайт вспорте 2"  data-tag="photoshop 2" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-3.png" alt="Сайт вспорте 3"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-4.png" alt="Сайт вспорте 4"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-5.png" alt="Сайт вспорте 5"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid.b-slider__slid_active
                                img.b-slider__img(src="/assets/img/file/site-6.png" alt="Сайт вспорте 6"  data-tag="photoshop" data-link="#")
                        a.b-slider__item.b-slider__item_small.b-slider__prev.col-p-6(href="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-1.png" alt="НОВОСТНОЙ САЙТ ПО АНАЛОГИИ"  data-tag="HTML CSS JAVASCRIPT" data-link="#")
                            .b-slider__slid.b-slider__slid_active
                                img.b-slider__img(src="/assets/img/file/site-2.png" alt="Сайт вспорте 2"  data-tag="photoshop 2" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-3.png" alt="Сайт вспорте 3"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-4.png" alt="Сайт вспорте 4"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-5.png" alt="Сайт вспорте 5"  data-tag="photoshop 4" data-link="#")
                            .b-slider__slid
                                img.b-slider__img(src="/assets/img/file/site-6.png" alt="Сайт вспорте 6"  data-tag="photoshop" data-link="#")
            section.b-about.i-clear.i-text-center
                h2.b-title-h2.b-title-h2_about.i-upper.i-under.i-under_invers
                    span.i-block Что обо мне
                    span говорят
                .container.i-clear
                    .i-clear.b-about-me-block
                        .b-about-me.col-t-6.col-p-12
                            .b-imgcover.b-imgcover_small
                                img.b-imgcover__avatar(src="/assets/img/Layer-8.png" alt="Ковальчук Дмитрий")
                            .b-about-me__comment
                                | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                            .b-about-me__name Ковальчук Дмитрий
                            .b-about-me__who — основатель Loftschool
                        .b-about-me.col-t-6.col-p-12
                            .b-imgcover.b-imgcover_small
                                img.b-imgcover__avatar(src="/assets/img/layer-9.png" alt="Зар Захаров")
                            .b-about-me__comment
                                | Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                            .b-about-me__name Зар Захаров
                            .b-about-me__who — главный преподаватель

                    .center_flex.blur
                        img.blur__img(src="/assets/img/bg-about_1.png" alt="")
                        .b-portfolio.b-portfolio_tema_about
                            h2.b-title-h3.b-title-h3_col_darcm3.b-portfolio__name.i-upper.i-under.i-under_col_darcm3.b-portfolio_tema_about__title Связаться со мной
                            form#loginform.b-form-a.b-form-about
                                .b-formgrup
                                    input.b-form-a__input(type="text" placeholder="Имя")
                                .b-formgrup
                                    input.b-form-a__input(type="email" placeholder="Email")
                                .b-formgrup
                                    textarea.b-form-a__textarea(rows="5" placeholder="Ваше сообщение")
                                .b-menu
                                    button.b-menu__link(type='submit') Отправить
                                    button.b-menu__link(type='reset') Очистить

                .b-top
                    a.b-top__link(href="#")
                        i.fa.fa-chevron-up(aria-hidden="true")

                include _pagefooter
    include common/_scripts
    script.
        $(document).ready(function () {
            setBlur();
        });

        $(window).resize(function () {
            setBlur();
        });


        function setBlur() {
            var
                blur = $('.blur'),
                blurimg = $('.blur__img'),
                html = $('html'),
                bottomblur;

            bottomblur = blur.offset().top + blur.height() - html.height();
            blurimg.css({'bottom': bottomblur});
        }