@font-face {
    font-family: 'SansusWebissimo';
    src: url('sansus-webissimo-regular-webfont.eot');
    src: url('sansus-webissimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('sansus-webissimo-regular-webfont.woff2') format('woff2'),
    url('sansus-webissimo-regular-webfont.woff') format('woff'),
    url('sansus-webissimo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}