$light: #ffffff;
$lightcolor2: #e0e0dc;
$lightcolor3: #e1e4d7;
$lightcolor4: #dfdcd5;
$lightcolor5: #f0efe9;
$lightcolor6: #c4cbcd;

$maingamma: #4e8839;
$maingamma2: #6c9c5a;
$maingamma3: #566358;
$maingammadarck: $maingamma;
$colordarck2: #373e42;
$bgcolor1: #ebefe2;
$bgcolor2: #f4f5f0;
$bgcolor3: #f8f9f5;

$graycolor: #5d5a55;
$graycolor2: #cccccc;
$errcolor: #f00;
$success: #0f0;
@mixin transition($time: 1) {
  transition: all $time + s;
}


body {
  margin: 0;
}
@import url('../fonts/roboto/Roboto.css');
@import url('../fonts/SansusWebissimo/SansusWebissimo.css');

@import 'blog/shCore';
@import 'common/basehtml';
@import 'common/media';
@import 'common/_iclass';
@import 'common/greating';
@import 'common/main';
@import 'common/leible';
@import 'common/font-awesome';