@import url("../fonts/Roboto/Roboto.css");
@import url("../fonts/SansusWebissimo/SansusWebissimo.css");
/* line 1, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/app.scss */
body {
  margin: 0; }

/* line 2, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-clear {
  /**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */ }
  /* line 4, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
  .i-clear:before,
  .i-clear:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
    /* line 9, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
    .i-clear:before:after,
    .i-clear:after:after {
      clear: both; }
  /* line 17, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
  .i-clear {
    *zoom: 1; }

/* line 22, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-upper {
  text-transform: uppercase; }

/* line 27, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-under:after {
  content: '';
  display: block;
  width: 89px;
  height: 3px;
  background-color: #ffffff;
  margin: 25px auto 30px; }

/* line 37, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-under_invers:after {
  background-color: #373e42;
  margin: -30px auto 30px; }

/* line 43, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-float_left {
  float: left; }

/* line 47, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-float_right {
  float: right; }

/* line 51, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-abs-top {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

/* line 57, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-text-center {
  text-align: center;
  display: block;
  width: 100%; }

/* line 63, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-col_2 {
  width: 50%;
  float: left; }

/* line 67, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/_iclass.scss */
.i-col_flr_moby {
  float: right; }

/* line 1, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/greating.scss */
.greating {
  overflow: hidden;
  position: relative;
  padding: 150px 20px 50px;
  background: #F44336;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
  /* line 8, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/greating.scss */
  .greating_text {
    font: 45px 'Arial', sans-serif;
    color: #fff; }
  /* line 13, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/greating.scss */
  .greating_picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 114px;
    background: url("/assets/img/viking.png") no-repeat center;
    transform: translate3D(100%, 0, 0);
    transition: transform 0.5s; }

/* line 25, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/greating.scss */
.greating_picture.m--show {
  transform: translate3D(0, 0, 0); }

/* line 7, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
html {
  box-sizing: border-box; }

/* line 13, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
*,
*:before,
*:after {
  box-sizing: inherit; }

/* line 18, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
html,
body {
  min-height: 100%;
  min-height: 100vh; }

/* line 23, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-content-head {
  display: flex;
  flex-direction: column; }

/* line 28, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-content-head_bgmain {
  background: url("/assets/img/water.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  min-height: 100vh; }

/* line 35, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-content-head_nohome {
  height: 650px;
  min-height: 650px; }

/* line 40, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-main_V {
  position: relative;
  overflow: hidden; }
  /* line 44, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-main_V:after,
  .b-main_V:before {
    content: '';
    position: absolute;
    top: 100%;
    display: block;
    background: #f8f9f5;
    height: 50%;
    left: -50%;
    right: -50%; }
  /* line 54, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-main_V:after {
    transform: rotate(10deg); }
  /* line 57, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-main_V:before {
    transform: rotate(-10deg); }

/* line 63, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-header,
.b-footer {
  flex: 0 0 auto; }

/* line 67, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-main {
  flex: 1 0 auto;
  display: flex;
  padding: 0 15px; }
  /* line 71, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-main_noflex {
    display: block; }

/* line 75, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-header {
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.335)); }

/* line 79, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-header_text-right {
  text-align: right; }

@media screen and (max-width: 768px) {
  /* line 84, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-header_xs_text-center {
    text-align: center; } }

/* line 89, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-footer {
  text-align: center;
  color: #ffffff;
  font: 400 15.77px/128px "Roboto";
  height: 128px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.11), transparent); }
  @media screen and (max-width: 768px) {
    /* line 89, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
    .b-footer {
      line-height: 1.5em;
      height: auto;
      padding: 10px 0; } }

/* line 102, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-header__login-btn {
  display: inline-block;
  color: #ffffff;
  font: 500 16px/45px "Roboto";
  background: transparent;
  border: 1px solid #ffffff;
  padding: 0 2em;
  border-radius: 22.5px;
  margin: 20px;
  text-decoration: none;
  transition: all 1s; }
  /* line 114, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-header__login-btn:hover {
    background: #4e8839;
    border: 1px solid #4e8839; }
  /* line 118, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-header__login-btn:active {
    background: rgba(78, 136, 57, 0.5); }

/* line 123, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.center_flex {
  margin: auto;
  position: relative;
  width: 380px;
  max-width: 100%; }

/* Block portfolio */
/* line 134, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  transition: transform 1s linear;
  transform-style: preserve-3d; }

/* line 143, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_tema_forest {
  background-color: rgba(18, 38, 32, 0.6);
  color: #fff;
  padding: 35px 15px 0; }

/* line 149, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_no-bg {
  background: transparent; }

/* line 153, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_position_abs {
  position: absolute;
  top: 0; }

/* line 158, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_type_close {
  transform: rotateY(0deg); }

/* line 162, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_type_open {
  transform: rotateY(90deg); }

/* line 167, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_animate.b-portfolio_type_open {
  transform: rotateY(0deg); }

/* line 170, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_animate.b-portfolio_type_close {
  transform: rotateY(-90deg); }

/* line 175, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_delay {
  transition-delay: 1s; }

/* line 179, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio__name {
  font: 500 28px/34px "Roboto";
  margin: 0; }

/* line 184, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio__litteltext {
  color: rgba(255, 255, 255, 0.8);
  font: 400 16px/24px Roboto; }

/* line 190, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-portfolio_after:after {
  font-family: fontawesome;
  content: '\f078';
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  z-index: 10; }

/* line 203, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-imgcover {
  margin: 5px auto 20px;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden; }

/* line 211, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-imgcover__avatar {
  width: 100%; }

/* line 215, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-icongrup {
  margin: 0;
  padding: 0; }

/* line 220, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-icongrup_maringtb {
  margin: 35px 0; }

/* line 224, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-icongrup__item {
  list-style: none;
  display: inline-block; }

/* line 229, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-icongrup__icon {
  transition: all 0.5s;
  opacity: 0.5;
  color: #fff;
  font-size: 24px;
  padding: 0 13px; }
  /* line 235, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-icongrup__icon:hover {
    opacity: 1;
    color: #4e8839; }
  /* line 239, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-icongrup__icon:active {
    opacity: 1;
    color: #4e8839;
    text-shadow: 0 0px 20px #6c9c5a; }

/* line 246, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-icongrup__icon_opaciy {
  opacity: 1; }
  /* line 248, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-icongrup__icon_opaciy:hover {
    opacity: 1;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white; }
  /* line 252, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-icongrup__icon_opaciy:active {
    opacity: 0.7; }

/* line 257, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-menu {
  margin: 0 -15px;
  display: flex;
  align-content: space-between; }

/* line 263, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-menu__link {
  position: relative;
  color: #ffffff;
  font: 500 16px/36px "Roboto";
  background-color: rgba(108, 156, 90, 0.8);
  display: block;
  width: 100%;
  text-decoration: none;
  transition: all 0.5s; }
  /* line 272, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-menu__link:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 2px;
    background-color: rgba(222, 227, 231, 0.5); }
  /* line 283, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-menu__link:last-of-type:after {
    display: none; }
  /* line 287, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-menu__link:hover {
    background-color: rgba(97, 140, 81, 0.8); }

/* line 293, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-footer_line:after {
  content: '| '; }

@media screen and (max-width: 768px) {
  /* line 292, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
  .b-footer_line {
    display: block; }
    /* line 298, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
    .b-footer_line:after {
      content: ''; } }

/* line 303, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-main-content {
  background: #f8f9f5; }

/* line 306, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-title-h2 {
  color: #373e42;
  font-weight: 400;
  font-size: 62.79px;
  font-family: 'SansusWebissimo', sans-serif; }

/* line 313, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/main.scss */
.b-title-h2_works {
  background: url("/assets/img/works_header.png") no-repeat top center;
  background-size: auto 100%;
  line-height: 165px; }

/* line 2, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-form-a__input {
  display: inline-block;
  position: relative;
  height: 100%;
  height: 45px;
  border-radius: 0 22.5px 22.5px 0;
  border: none;
  padding-left: 20px;
  font-size: 16px; }
  /* line 11, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  .b-form-a__input:focus {
    outline: none; }

/* line 16, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-form-a__fa.fa {
  font-size: 16px;
  line-height: 45px; }

/* line 21, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-formgrup {
  width: 100%;
  margin-bottom: 20px;
  font-size: 0; }
  /* line 25, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  .b-formgrup > * {
    font-size: 16px; }

/* line 30, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-formgrup__arial {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  border-radius: 22.5px 0 0 22.5px;
  border: none;
  background-color: #f0efe9;
  color: #c4cbcd; }

/* line 41, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-formgrup__text {
  display: block;
  margin-bottom: 10px;
  font: 700 16px/24px "Roboto"; }

/* line 47, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
.b-formgrup__radio-grup {
  margin-bottom: 40px; }

/* line 51, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
input[type='checkbox'] {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px 0 0; }
  /* line 56, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='checkbox'] + label {
    cursor: pointer; }
  /* line 59, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='checkbox']:not(checked) {
    position: absolute;
    opacity: 0; }
    /* line 62, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
    input[type='checkbox']:not(checked) + label {
      position: relative;
      padding: 0 0 0 30px; }
      /* line 65, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
      input[type='checkbox']:not(checked) + label:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
    /* line 80, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
    input[type='checkbox']:not(checked):focus + label:before {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3); }
  /* line 88, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='checkbox']:checked + label:before {
    content: '\f00c';
    line-height: 20px;
    font-size: 14px;
    font-family: fontawesome;
    background: #4e8839;
    border-color: #4e8839; }
  /* line 99, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='checkbox']:checked:focus + label:before {
    box-shadow: 0 0 0 3px rgba(108, 156, 90, 0.3); }

/* line 107, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
input[type='radio'] {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px 0 0; }
  /* line 112, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='radio'] + label {
    cursor: pointer;
    padding-right: 40px; }
    /* line 115, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
    input[type='radio'] + label:last-of-type {
      padding-right: 0px; }
  /* line 119, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='radio']:not(checked) {
    position: absolute;
    opacity: 0; }
    /* line 122, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
    input[type='radio']:not(checked):not(checked) + label {
      position: relative;
      padding-left: 30px; }
      /* line 125, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
      input[type='radio']:not(checked):not(checked) + label::before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background: #ffffff; }
      /* line 136, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
      input[type='radio']:not(checked):not(checked) + label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #4e8839;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.2s; }
  /* line 153, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='radio']:checked + label:after {
    opacity: 1; }
  /* line 159, C:/Users/Evdokimov Sergey/Documents/upsite.me/LS/loftshool-builder/source/style/common/leible.scss */
  input[type='radio']:focus + label:before {
    box-shadow: 0 0 0 3px rgba(108, 156, 90, 0.3); }

/*# sourceMappingURL=app.css.map */