head
  meta(charset='utf-8')
  title= title
  meta(content='Evdokimov Sergey' name='author')
  meta(content='Мой личный сайт' name='description')
  meta(content='site, evd1ser, программист, разработчик, дизайнер' name='keywords')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  //- favicon block start
  
  //- favicon block end
  script(src='https://code.jquery.com/jquery-1.12.4.min.js' integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=' crossorigin='anonymous')
  //- script(src='/assets/js/foundation.js' defer)
  script(src='/assets/js/jpreloader.js')
  link(rel='stylesheet' href='/assets/css/foundation.css')
  link(rel='stylesheet' href='/assets/css/jpreloader.css')
  script(src='/assets/js/app.js' defer)
  script(src="https://use.fontawesome.com/bfb835d03b.js" defer)
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->
  link(rel='stylesheet' href='/assets/css/app.css')
