script.
    (function() {

    //** SLIDER **//
    var
    btnlnk = $(".b-slider__item");

    $(btnlnk).on("click", function (e) {
        e.preventDefault();
        var link = $(this);
        var
        active = $(btnlnk).find(".b-slider__slid_active"),
        next = "";

        if ($(link).hasClass("b-slider__next")) {

            $(active).each(function () {

        if ($(this).prev().length) {

            next = $(next).add($(this).prev());
    } else {
    next = $(next).add($(this).parent().children().last());
    }

    });

    } else {
    $(active).each(function () {

        if ($(this).next().length) {

            next = $(next).add($(this).next());
    } else {
    next = $(next).add($(this).parent().children().first());
    }

    });
    }
    $(active).removeClass('b-slider__slid_active');

    $(next).addClass("b-slider__slid_active");

        var bigActiv = $(".b-slider__item_big").find(".b-slider__slid_active .b-slider__img"),
        newTitle = $(bigActiv).attr('alt'),
        newTag = $(bigActiv).data('tag'),
        newLink = $(bigActiv).data('link'),
        tagstr = '',
        j = 0;

        for (var key in newTag) {
            tagstr += '<li class="b-tag-list__item"><a href="' + key + '" class="b-tag-list__link">' + animtext(newTag[key]) + '</a></li>';
            console.log(tagstr);
    }
    ;
    j = 0;
    $('#title').html(animtext(newTitle));
    $('#tag').html(tagstr);
    $('#link').attr('href', newLink);


        function animtext(str) {
            var text = "";

            for (var i = 0; i < str.length; i++) {
                if (i == 0) {
                    text = "<span class='word'>";
                }
                ;

                text += "<span class='char' style='animation-delay: " + 0.05 * j + "s'>" + str[i] + "</span>";
                if (str[i] == " " || str[i] == "&nbsp;") {
                    text += "</span><span class='letter'>&nbsp;</span><span class='word'>";
                }
                if (i == str.length - 1) {
                    text += "</span>";
                }
                ;
                j += 1;
        }
            return text;

    }


    });
    })();