nav(id=idnav, class=classesnav)

    ul.b-nav__list
        li.b-nav__item
            if page == 'works'
                a.b-nav__link.b-nav__link_activ(href="/works.html") Мои работы
            else
                a.b-nav__link(href="/works.html") Мои работы
        li.b-nav__item
            if page == 'blog'
                a.b-nav__link.b-nav__link_activ(href="/blog.html") Блог
            else
                a.b-nav__link(href="/blog.html") Блог
        li.b-nav__item
            if page == 'aboutme'
                a.b-nav__link.b-nav__link_activ(href="/aboutme.html") Обо мне
            else
                a.b-nav__link(href="/aboutme.html") Обо мне
        li.b-nav__item
                a.b-nav__link(href="/login.html") Авторизация