.i-bgmain {
    background-color: $bgcolor3;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.i-clear {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    /**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
    & {
        *zoom: 1;
    }
}

.i-upper {
    text-transform: uppercase;
}

.i-fix{
    position: fixed;
}

.i-under {
    &:after {
        content: '';
        display: block;
        width: rem(89px);
        height: 3px;
        background-color: $light;
        margin: rem(25px) auto rem(30px);
    }
    &_marr {
        margin: rem(-30px) auto rem(30px);
    }
    &_invers {
        &:after {
        background-color: $colordarck2;
        }
    }
    &_darck {
        &:after {
            background-color: $maingammadarck;
            margin: rem(30px) auto rem(30px);
        }
    }
    &_col_darcm{
        &:after {
            background-color: $maingamma;
        }
    }
    &_col_darcm2{
        &:after {
            background-color: $maingamma2;
        }
    }
    &_col_darcm3{
        &:after {
            background-color: $maingamma3;
        }
    }
}

.i-float_left {
    float: left;
}

.i-float_right {
    float: right;
}

.i-abs-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.i-text-center{
    text-align: center;
    display: block;
    width: 100%;
}
.i-col {
    &_2{
        width: 50%;
        float: left;
    }
    &_flr_moby{
        float: right;
    }
    @include tablets {
        &_moby_1{
            width: 100%;
            float: none;
        }
        &_flr_moby{
            float: none;
        }
    }

}
.i-block{
    display: block;
}

.i-h100{
    height: 100%;
    height: 100vh;
    @include tablets {
        min-height: 100%;
        min-height: 100vh;

    }
}
.i-100min{
    min-height: 100vh;
}

.i-relat{
    position: relative;
}
.i-overflow_hidden{
    overflow: hidden;
}
.word {
    display: inline-block;
}
.char{
    animation-name: zoomInDown;
    animation-duration: .6s;
    //animation-timing-function: ease-in-out;
    //animation: showLetter  cubic-bezier(0.77, 0.6, 0.31, 1.2);
    animation-fill-mode: both;
    display: inline-block;
}
@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}